/*font Variables*/
$mon: 'Montserrat', sans-serif;
$pop: 'Poppins', sans-serif;
$rob: 'Roboto', sans-serif;
$hee: 'Heebo', sans-serif;

/*Color Variables*/
$baseColor: #ffcd00;
$orange: #ff9600;
$red: #fc5a1a;
$dip: #424242;
$pfont: #6b6d6f;
$blue: #3498db;
//$gray: #afafaf;
//$dw: #e8e8e8;



// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.col-md-offset-right-1 {
    margin-right: 8.33333333%;
}

// Font family link
@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,500,600,700,800,900|Poppins:300,400,500,600,700|Roboto:300,300i,400,500,700,900');

@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900');

