ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}
.p0{
    padding: 0px;   
}
body{
    line-height: 24px;
    font-size: 14px;
    font-family: $pop; 
    color: $pfont;
}

body, p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}
#success{
    display: none;
}
#error{
    display: none;
}

.display_table{
    display: table;
    width: 100%;
}
.display_table_row{
    display: table-row;
}
.display_table_cell{
    display: table-cell;
    float: none !important;
}
.bg-color{
    background: #f9faff;
}

.p_100{
	padding-top: 100px;
	padding-bottom: 100px;
}

iframe{
    border: none;
}

@keyframes round_image {
  to { transform: rotate(90deg); }
}

@keyframes runpulse {
    0% {
        opacity: 1;
        transform: scale(.9);
    }
   50% {
        opacity: 1;
        transform: scale(1.2);   
    }
    100% {
        opacity: 0;
    }    
}


.gray_bg{
	background: #f9faff;
}

/* Main title css
============================================================================================ */
.main_title{
    text-align: center;
    h2{
        font-size: 35px;
        color: $dip;
        font-family: $mon;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;
        &:before{
            content: "";
            width: 60px;
            height: 2px;
            background: $dip;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
        }
		span{
            color: #fc5a1a;
        }
    }
    p{
        max-width: 555px;
        margin: auto;
        font-size: 14px;
        line-height: 26px;
        color: $pfont;
        font-family: $pop;
        letter-spacing: .28px;
    }
}
.main_title2{
    text-align: center;
    padding-bottom: 55px;
    h2{
        font-size: 30px;
        color: #121921;
        font-family: $hee;
        font-weight: 300;
        position: relative;
        padding-bottom: 30px;
        font-weight: 600;
    }
    p{
        max-width: 700px;
        margin: auto;
        font-size: 14px;
        line-height: 26px;
        color: $pfont;
        font-family: $hee;
        letter-spacing: .28px;
    }
}
.gray{
	h2{
		color: #4f4f4f;
	}
	p{
		color: #898989;
	}
}
.white{
	h2{
		color: #fff;
	}
	p{
		color: #fff;
	}
}

/* End Main Title css
============================================================================================ */

/* Left Title css
============================================================================================ */
.left_title{
    h2{
        font-size: 36px;
        text-transform: uppercase;
        font-family: $mon;
        color: $dip;
        font-weight: 300;
        margin-bottom: 45px;
        padding-bottom: 7px;
        position: relative;
        &:before{
            content: "";
            width: 60px;
            height: 2px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            background: $dip;
        }
    }
    p{
        font-size: 14px;
        line-height: 26px;
        font-family: $pop;
        color: $pfont;
        padding-bottom: 25px;
        &:last-child{
            padding-bottom: 0px;
        }
    }
}

.single_title{
    font-size: 48px;
    line-height: 62px;
    color: #121921;
    font-family: $hee;
    font-weight: 500;
}
.single_title_center{
    font-size: 48px;
    line-height: 62px;
    color: #121921;
    font-family: $hee;
    font-weight: 500;
    text-align: center;
    padding-bottom: 95px;
}

.exclusive_title{
    padding-bottom: 92px;
    h2{
        font-size: 48px;
        font-family: $hee;
        font-weight: 600;
        color: #121921;
    }
}

.server_title{
    padding-bottom: 50px;
    h2{
        font-size: 40px;
        font-family: $hee;
        font-weight: bold;
        color: #26547c;
        letter-spacing: .8px;
        padding-bottom: 35px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: #6d89a1;
        font-family: $hee;
        letter-spacing: .28px;
    }
}

.great_title{
    text-align: center;
    padding-bottom: 45px;
    h2{
        font-size: 40px;
        font-family: $hee;
        font-weight: bold;
        color: #26547c;
        padding-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: #9baebf;
        letter-spacing: .28px;
    }
}

.color_white{
    h2{
        color: #fff;
        &:before{
            background: #fff;
        }  
    }
    p{
        color: #fff;
    }
}


.nine_title{
	padding-bottom: 40px;
	h2{
		text-transform: uppercase;
		font-size: 20px;
		color: #272727;
		font-family: $hee;
		font-weight: bold;
		letter-spacing: 6.2px;
		position: relative;
		display: inline-block;
		&:before{
			content: "";
			width: 365px;
			height: 1px;
			background: #d7d7d7;
			position: absolute;
			right: -400px;
			bottom: 4px;
		}
	}
	&.center{
		max-width: 710px;
		margin: auto;
	}
}

.single_title_n{
	text-align: center;
	padding-bottom: 95px;
	h2{
		font-size: 30px;
		text-transform: uppercase;
		color: #272727;
		font-family: $hee;
	}
	p{
		font-size: 16px;
		color: #585858;
		font-family: $hee;
		letter-spacing: 1.6px;
		padding-top: 10px;
	}
}

.ten_title{
	text-align: center;
	padding-bottom: 60px;
	h2{
		font-size: 40px;
		font-family: $hee;
		color: #272727;
		padding-bottom: 10px;
		span{
			color: #0083ff;
		}
	}
	p{
		font-size: 20px;
		color: #9ea6b2;
		font-family: $hee;
		font-weight: 500;
	}
}

.ten_d_text{
	text-align: center;
	padding-bottom: 60px;
	h2{
		font-size: 40px;
		font-family: $hee;
		color: #000;
		padding-bottom: 10px;
		span{
			color: #fff;
		}
	}
	p{
		font-size: 20px;
		color: #d7d7d7;
		font-family: $hee;
		font-weight: 500;
	}
}


.gd_title{
	text-align: center;
	margin-bottom: 80px;
	h2{
		display: block;
		font-size: 30px;
		font-family: $hee;
		font-weight: bold;
		color: #272727;
		text-transform: uppercase;
		position: relative;
		padding: 30px 0px;
		z-index: 4;
		&:before{
			content: attr(data-title);
			font-size: 110px;
			color: #f8f8f8;
			font-family: $hee;
			font-weight: bold;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
			right: 0px;
			left: 0px;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
		}
	}
	&.white{
		h2{
			z-index: 3;
			position: relative;
			color: #fff;
			&:before{
				color: #1e1a1a;
				z-index: -1;
			}
		}
	}
}

/* End Left Title css
============================================================================================ */



