*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# static library output (MSVC, GCC--from core components like Common)
*.lib
*.a

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/.vs
/bin
/build
/ipch
*.log
/Target
/Package