*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# static library output (MSVC, GCC--from core components like Common)
*.lib
*.a

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/.vs
/Bin/Debug
/Bin/Debug64
/Bin/Package
/Bin/Release
/Bin/Release64
/build
/Config/Project64.cache3
/Config/Project64.cfg
/Config/Project64.rdn
/Config/Project64.sc3
/Config/Project64.zcache
/ipch
/Plugin
/Source/3rdParty/wx/lib/vc_lib/msw/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswd/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswu/wx/msw/rcdefs.h
/Source/3rdParty/wx/lib/vc_lib/mswu/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswud/wx/msw/rcdefs.h
/Source/3rdParty/wx/lib/vc_lib/mswud/wx/setup.h
/Save
